body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    height: 200px;
    background-color: rgb(56, 56, 56);
}

.logo_header{
    height: 45%;
    margin: auto 0;
}

.header{
    max-width:1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100%;
}

.header_input{
    height: 25%;
    margin: auto 68px auto 68px;
    border: 0;
    display: flex;
    width: 46%;
    max-width: 875px;
}

header input{
    background-color: rgb(102, 102, 102);
    outline: none;
    width: 100%;
    border: 0;
}

main{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}


.lupa_poisk{
    height: 100%;
    /*margin-top: 68px; */
    background-color: rgb(102, 102, 102);
    cursor: pointer;
}

.lupa_class{
    margin-left: auto;
    height: 100%;
    margin: auto;
}

.navUnderHeader{
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
}

.navUnderHeader div{
    width: 46%;
    margin: 0 auto;
    display: flex;
}

.navUnderHeader button{
    height: 48px;
    background-color: white;
    border: 0;
    margin: auto;
}

.navUnderHeader a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navUnderHeader a:hover{
    color:rgba(255, 236, 2, 1);
    transition: 0.3s;
}

.hamburger{
    position: relative;
    display: none;
    vertical-align: middle;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 0;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
    background: 0;
    margin: auto 0;
  }
  .btn__hamb{
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    background: rgba(255, 236, 2, 1);
    cursor: pointer;
    div{
      width: 100%;
      height: 100%;
    }
    &:before, &:after{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background: rgba(255, 236, 2, 1);
    }
    &:before{
      top: -8px;
    }
    &:after{
      top: 8px;
    }
  }

.product_cart{
    /* height: 300px; */
    width: 300px;
    /* background-color: #e8e8ee; */
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    
}

.product_carts a{
    text-decoration: none;
}

.product_cart:hover{
    box-shadow: -8px 8px 20px 0px #e8e8ee;
    transition: 0.3s;
}

.product_cart h3{
    margin: 10px 0;
    color: black;
}
.product_cart h4{
    margin: 0;
    color: black;
}
.product_cart button{
    width: 100%;
    height: 40px;
    margin: 10px auto;
    border: 0;
    border-radius: 10px;
    background-color: rgba(255, 236, 2, 1);
    cursor: pointer;

}

.product_cart button:hover{
    background-color: rgb(255 244 106);
    transition: 0.3s;
}

.product_carts{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 0;
    max-width: 1400px;
    justify-content: center;
}

.params h2{
    margin: 20px 16px;
    font-size: 34px;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.product_cart img{
    width: 300px;
    height: 300px;
    border-radius: 10px
}


.product_cart button h4{
    margin: auto 0;
}

.reg-in-kab{
    display: flex;
    margin: auto 0;
    height: 25%;
}

.reg-in-kab img{
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
}

.filtr-box{
    display: flex;
    height: 50px;
    width: 140px;
    /* background-color: #e8e8e8; */
    border-radius: 10px;
    margin: 0 auto 0 auto;
    cursor: pointer;
}

.filtr-box img{
    height: 31px;
    margin: auto 7px;

}

.filtr-box h5{
    font-size: 25px;
    margin: auto 0;
}

.filtrs{
    width: 300px;
    height: 800px;
    /* background-color: #e8e8e8; */
    margin: 20px 0 0 auto;
    border-radius: 10px;
}

#price{
    margin-left: 30px;
}

.filtrSection{
    width: 300px;
    margin: 0 15px 0 auto;
    justify-content: center;
}

.windMoney{
    display: flex;
    margin-left: 30px;
}

.windMoney input{
    width: 108px;
    margin: 0 auto 0 0;
    height: 40px;
    border: 2px #e8e8e8 solid;
    border-radius: 10px;
}

.Availability{
    margin: 50px 0;
    margin-left: 30px;
}

.state{
    margin: 50px 0;
}

.switch{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;

    border-radius: 34px;

    background-color: #e8e8e8;
}

.switch__input{
    width: 0;
    height: 0;
    opacity: 0;
}

.switch__slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #e8e8e8;
}

.switch__slider::before{
    content: "";
    position: absolute;

    cursor: pointer;
    left: 4px;
    bottom: 4px;
    height: 26px;
    width: 26px;

    border-radius: 50%;

    transition: 0.4s;
    background-color: white;
}

.switch__input:focus + .switch__slider{
    box-shadow: 0 0 1px rgb(255 244 106);
}

.switch__input:checked + .switch__slider{
    background-color: rgba(255, 236, 2, 1);
    transition: 0.4s;
}

.switch__input:checked + .switch__slider::before{
    transform: translateX(26px);
    transition: 0.4s;
}

.state{
    margin-left: 30px;
}

.state label{
    font-size: 17px;
    font-weight: 600;
}

.color{
    margin-left: 30px;
}

.color_color{
    margin: 10px 0;
}

.color_color span{
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: -5px 5px 0 0;
}

.color label{
    font-size: 17px;
    font-weight: 600;
}

.color_red span{
    background-color: red;
}

.color_green span{
    background-color: green;
}

.color_blue span{
    background-color: blue;
}

.color_brown span{
    background-color: brown;
}

.color_yellow span{
    background-color: yellow;
}

.color_grey span{
    background-color: grey;
}



.filtrs button{
    width: 270px;
    height: 40px;
    border: 0;
    background-color: rgba(255, 236, 2, 1);
    border-radius: 10px;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 30px;
}

.filtrs button:hover{
    background-color: rgb(255 244 106);
}